:root{
    --main-color: #2b2221;
    --text-color: #ccb5a4;
    --bg-color: #dbdad6;
    --btn-bg-color: #ffbf00;
}
@font-face {
    font-family: brother;
    src: url("../fonts/brother.otf");
}
@font-face {
    font-family: brotherL;
    src: url("../fonts/brotherL.ttf");
}

@font-face {
    font-family: azote;
    src: url("../fonts/azote.ttf");
}

@font-face {
    font-family: ainslie;
    src: url("../fonts/ainslie-sans-cond-light-ital.otf");
}

@font-face {
    font-family: OskarBold;
    src: url("../fonts/OskarBold.woff");
}

html, body{
    overflow-x: hidden !important;
    background-color: #dbdad6;
}
a{
    text-decoration: unset;
}
img{
    width: 100%;
}
.btn{
    background-color: var(--btn-bg-color);
}
header, .header,.header .row{
    height: 130px;
}
.header{
    background-color: var(--main-color);
}
.header .logo img{
    max-width: 150px;
}
.header > .container > .row {
    align-items: center;
}
ul.menu, ul.social{
    display: flex;
    column-gap: 20px;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0;
}
ul.menu{
    justify-content: center;
}
ul.menu a{
    color: var(--text-color);
    font-size: 17px;
    font-family: brother;
    letter-spacing: 2.3px;
}
ul.social{
    justify-content: flex-end;
}
ul.social a{
    color: var(--text-color);
}
ul.social{
    column-gap: 33px;
}
ul.social .fa-facebook-f{
    font-size: 20px;
}
ul.social .fa-instagram{
    font-size: 22.5px;
    margin-top: 1.5px;
}
section.menuno13{
    background: var(--bg-color);
    min-height: 445px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.menuno13 h2{
    font-family: azote;
    font-size: 5em;
    line-height: 1em;
    letter-spacing: .11em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--main-color);
}
section.menuno13 p.description{
    font-family: brother;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    margin-top: 20px;
    letter-spacing: .14em;
    white-space: pre-wrap;
    color: var(--main-color);
    /* font-weight: 600; */
}
section.menuno13 span.owner{
    color: var(--main-color);
    white-space: pre-wrap;
    font-family: brother;
    font-size: 14px;
    letter-spacing: .14em;
    /* font-weight: 600; */
}

section.banner{
    height: 700px;
    width: 100%;
}
section.banner .banner{
    height: 100%;
    width: 100%;
    position: relative;
}
section.banner .banner::before{
    position: absolute;
    content: '';
    background-image: url('https://images.squarespace-cdn.com/content/v1/5f27c5382d86017d07594cfc/2d734d1e-4043-48f7-8512-8050b3486c6c/1W4A0041.JPG?format=2500w');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

section.recommendfood{
    padding-top: 60px;
    background: var(--bg-color);
}
section.recommendfood .row{
    text-align: center;
    justify-content: center;
}
section.recommendfood h3{
    font-size: 23px;
    font-family: auto;
    color: var(--main-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 50px;
}

section.recommendfood p {
    font-family: ainslie;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--main-color);
}

section.menubycate{
    padding-top: 40px;
    background: var(--bg-color);
    text-align: center;
}

section.menubycate .row{
    text-align: center;
    justify-content: center;
}

section.menubycate .title_cate{
    font-family: OskarBold;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 25px;
    margin-top: 15px;
}

section.menubycate p, section.menubycate span {
    font-family: ainslie;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.5px;
    color: var(--main-color);
}

section.menubycate .meal{
    margin-top: 40px;
}

section.menubycate .meal .title{
    font-size: 23px;
    font-family: auto;
    color: var(--main-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
}

section.menubycate .meal span{
    font-family: brother;
    font-size: 18px;
}
.boxgap{
    height: 100px;
    background: var(--bg-color);
}
footer{
    padding-top: 60px;
    padding-bottom: 80px;
    background: var(--main-color);
    color: var(--text-color);
    text-align: center;
}
footer h3{
    font-size: 23px;
    font-family: auto;
    color: var(--text-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
}
footer p,footer a{
    color: #fff;
    font-family: brotherL;
    letter-spacing: 2.5px;
    font-size: 14px;
}
footer a:hover{
    color: var(--text-color);
}
footer .welcome{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

section.intro{
    background-color: var(--main-color);
    height: calc(100vh - 130px);
    text-align: center;
    color: var(--text-color);
}
section.intro .row{
    height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
}
section.intro img{
    max-width: 100%;
}

section.intro_2{
    padding-top: 20px;
    height: 850px;
    padding-bottom: 100px;
    background: var(--bg-color);
}
section.intro_2 img{
    max-width: 100%;
}

section.intro_2 h3{
    font-family: azote;
    font-size: 3.2em;
    line-height: 1em;
    letter-spacing: .11em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--main-color);
}
section.intro_2 p {
    font-family: ainslie;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--main-color);
}

section.intro_2 .row{
    align-items: center;
}

section.banner_home{
    height: 750px;
    width: 100%;
}
section.banner_home .banner_home{
    height: 100%;
    width: 100%;
}

section.banner_home .banner_home img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
section.intro_3{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--bg-color);
}

section.intro_3 h3{
    font-family: azote;
    font-size: 3.5em;
    line-height: 1.3em;
    letter-spacing: .11em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--main-color);
    text-align: center;
}
section.intro_3 p {
    font-family: brotherL;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--main-color);
    text-align: center;
}

section.banner_home.banner2{
    height: 850px;
    width: 100%;
}

.gallery_all > a{
    width: calc(50% - 50px);
    margin-bottom: 100px;
}

section.about{
    margin-top: 50px;
    text-align: center;
}

section.about > .container > .row{
    justify-content: center;
}

section.about .map{
    margin-top: 50px;
}

section.about iframe{
    width: 100%;
}

section.about h3{
    font-size: 23px;
    font-family: auto;
    color: var(--main-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 27px;
}

section.about p {
    font-family: ainslie;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--main-color);
}