:root{
    --main-color: #2b2221;
    --text-color: #ccb5a4;
    --bg-color: #dbdad6;
    --btn-bg-color: #ffbf00;
}
@font-face {
    font-family: brother;
    src: url("../fonts/brother.otf");
}
@font-face {
    font-family: brotherL;
    src: url("../fonts/brotherL.ttf");
}

@font-face {
    font-family: azote;
    src: url("../fonts/azote.ttf");
}

@font-face {
    font-family: ainslie;
    src: url("../fonts/ainslie-sans-cond-light-ital.otf");
}

@font-face {
    font-family: OskarBold;
    src: url("../fonts/OskarBold.woff");
}

html, body{
    overflow-x: hidden !important;
    background-color: #dbdad6;
}
a{
    text-decoration: unset;
}
img{
    width: 100%;
}
.btn{
    background-color: var(--btn-bg-color);
}
header, .header,.header .row{
    height: 130px;
}

a.btnbook{
    position: fixed;
    top: 35%;
    right: 0;
    transform-origin: right bottom 26px;
    transform: rotate(-90deg);
    background-color: #000000;
    color: #ffffff;
    padding: 3px 10px;
    font-size: 18px;
    border-radius: .4rem;
    z-index: 9999999 !important;
}
.header{
    position: fixed;
    background-color: var(--main-color);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}
.header .logo img{
    max-width: 150px;
}
.header > .container > .row {
    align-items: center;
}
ul.menu, ul.social{
    display: flex;
    column-gap: 20px;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0;
}
ul.menu{
    justify-content: center;
}
ul.menu a{
    color: var(--text-color);
    font-size: 17px;
    font-family: brother;
    letter-spacing: 2.3px;
}
ul.social{
    justify-content: flex-end;
}
ul.social a{
    color: var(--text-color);
}
ul.social{
    column-gap: 33px;
}
ul.social .fa-facebook-f{
    font-size: 20px;
}
ul.social .fa-instagram{
    font-size: 22.5px;
    margin-top: 1.5px;
}
section.menuno13{
    background: var(--bg-color);
    min-height: 445px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.menuno13 h2{
    font-family: azote;
    font-size: 5em;
    line-height: 1em;
    letter-spacing: .11em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--main-color);
}
section.menuno13 p{
    font-family: brother;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    margin-top: 20px;
    letter-spacing: .14em;
    white-space: pre-wrap;
    color: var(--main-color);
    /* font-weight: 600; */
}
section.menuno13 span.owner{
    color: var(--main-color);
    white-space: pre-wrap;
    font-family: brother;
    font-size: 14px;
    letter-spacing: .14em;
    /* font-weight: 600; */
}

section.menuno13 .row{
    justify-content: center;
}

section.banner{
    height: 700px;
    width: 100%;
}
section.banner .banner{
    height: 100%;
    width: 100%;
    position: relative;
}
section.banner .banner::before{
    position: absolute;
    content: '';
    /* background-image: url('https://images.squarespace-cdn.com/content/v1/5f27c5382d86017d07594cfc/2d734d1e-4043-48f7-8512-8050b3486c6c/1W4A0041.JPG?format=2500w'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

section.recommendfood{
    padding-top: 60px;
    background: var(--bg-color);
}
section.recommendfood .row{
    text-align: center;
    justify-content: center;
}
section.recommendfood h3{
    font-size: 23px;
    font-family: auto;
    color: var(--main-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 50px;
}

section.recommendfood p {
    font-family: ainslie;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--main-color);
}

section.menubycate{
    padding-top: 40px;
    background: var(--bg-color);
    text-align: center;
}

section.menubycate .row{
    text-align: center;
    justify-content: center;
}

section.menubycate .title_cate{
    font-family: OskarBold;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 25px;
    margin-top: 15px;
    text-transform: uppercase;
}

section.menubycate p, section.menubycate span {
    font-family: ainslie;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.5px;
    color: var(--main-color);
}

section.menubycate .meal{
    margin-top: 40px;
}

section.menubycate .meal .title{
    font-size: 23px;
    font-family: auto;
    color: var(--main-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
}

section.menubycate .meal span{
    font-family: brother;
    font-size: 18px;
}
.boxgap{
    height: 100px;
    background: var(--bg-color);
}
footer{
    padding-top: 60px;
    padding-bottom: 80px;
    background: var(--main-color);
    color: var(--text-color);
    text-align: center;
}
footer h3{
    font-size: 23px;
    font-family: auto;
    color: var(--text-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
}
footer p,footer a{
    color: #fff;
    font-family: brotherL;
    letter-spacing: 2.5px;
    font-size: 14px;
}
footer a:hover{
    color: var(--text-color);
}
footer .welcome{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

section.intro{
    background-color: var(--main-color);
    height: calc(100vh - 130px);
    text-align: center;
    color: var(--text-color);
}
section.intro .row{
    height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
}
section.intro img{
    max-width: 100%;
}

section.intro_2{
    padding-top: 20px;
    height: 850px;
    padding-bottom: 100px;
    background: var(--bg-color);
}
section.intro_2 img{
    max-width: 100%;
}

section.intro_2 h3{
    font-family: azote;
    font-size: 3.2em;
    line-height: 1em;
    letter-spacing: .11em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--main-color);
}
section.intro_2 p {
    font-family: ainslie;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--main-color);
}

section.intro_2 .row{
    align-items: center;
}

section.banner_home{
    height: 750px;
    width: 100%;
}
section.banner_home .banner_home{
    height: 100%;
    width: 100%;
}

section.banner_home .banner_home img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
section.intro_3{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--bg-color);
}

section.intro_3 h3{
    font-family: azote;
    font-size: 3.5em;
    line-height: 1.3em;
    letter-spacing: .11em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--main-color);
    text-align: center;
}
section.intro_3 p {
    font-family: brotherL;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--main-color);
    text-align: center;
}

section.banner_home.banner2{
    height: 850px;
    width: 100%;
}

.gallery_all > a{
    width: calc(50% - 50px);
    margin-bottom: 100px;
}

section.about{
    margin-top: 50px;
    text-align: center;
}

section.about > .container > .row{
    justify-content: center;
}

section.about .map{
    margin-top: 50px;
}

section.about iframe{
    width: 100%;
}

section.about h3{
    font-size: 23px;
    font-family: auto;
    color: var(--main-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 27px;
}

section.about p {
    font-family: ainslie;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--main-color);
}

.mb{
    display: none;
}

@media (max-width: 1250px){
    section.intro_2{
        height: 740px;
        padding-bottom: 0;
    }
}

@media (max-width: 1024px){
    .header{
        display: none;
    }
    .mb{
        display: block;
        height: 130px;
        background-color: var(--main-color);
    }
    .mb .head{
        position: fixed;
        top: 0;
        left: 0;
        height: 130px;
        background-color: var(--main-color);
        z-index: 19;
        width: 100%;
    }
    section.intro{
        height: calc(85vh - 130px);
    }
    section.intro .row{
        height: calc(85vh - 100px);
    }
    section.intro_2{
        height: 640px;
        padding-top: 50px;
    }
    section.banner_home{
        height: 650px;
    }
    section.intro_3{
        padding-top: 90px;
        padding-bottom: 70px;
    }
    section.banner_home.banner2{
        height: 700px;
    }
    section.menuno13{
        padding-top: 80px;
        padding-bottom: 70px;
        min-height: 400px;
    }

    .welcome .top{
        margin-bottom: 50px;
    }
    footer > .container > .row > div{
        margin-bottom: 50px;
    }
    footer{
        padding-bottom: 0px;
    }
    .gallery_all > a{
        width: calc(50% - 25px);
        margin-bottom: 50px;
    }
}

@media (max-width: 900px){
    section.intro_2{
        height: 675px;
        padding-bottom: 0;
    }
    section.intro_2 p{
        font-size: 14px;
        line-height: 28px;
    }
    section.intro_2 h3{
        font-size: 2.7em;
    }
    section.banner{
        height: 600px;
    }
}

@media(max-width: 768px){
    section.banner_home{
        height: 520px;
    }
    section.banner_home.banner2{
        height: 545px;
    }
    section.intro_3 h3{
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    section.intro_3{
        padding-top: 55px;
        padding-bottom: 35px;
    }
    section.intro_2 .img{
        text-align: center;
    }
    section.intro_2 img{
        max-width: 60%;
    }
    section.intro_2 {
        padding-top: 20px;
        height: auto;
        padding-bottom: 25px;
    }
    section.intro_2 h3{
        margin-top: 25px;
        margin-bottom: 20px;
        text-align: center;
    }
    section.intro_2 p{
        text-align: center;
    }
    section.banner {
        height: 535px;
    }
    section.recommendfood{
        padding-top: 25px;
    }
    .gallery_all > a{
        width: calc(50% - 5px);
        margin-bottom: 10px;
    }
}

@media (max-width: 540px){
    section.banner_home{
        height: 380px;
    }
    section.intro_3 h3{
        font-size: 2em;
    }
    section.banner_home.banner2{
        height: 400px;
    }
    section.intro .row{
        height: 60vh;
    }
    section.intro{
        height: 65vh;
    }
    section.menuno13 p.description{
        font-size: 16px;
    }
    section.menuno13 h2{
        font-size: 4em;
    }
    section.banner {
        height: 410px;
    }
}


/* ============================= mobile =================================== */
#burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
}
#burger-toggle:checked ~ .menu {
    opacity: 1;
    visibility: visible;
}
#burger-toggle:checked ~ .menu .menu-nav-link span div, #burger-toggle:checked ~ .menu img, #burger-toggle:checked ~ .menu .title p {
    transform: translateY(0);
    transition: 1s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
    transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
    transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
    transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
    transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after {
    transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
    transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
    background: var(--main-color);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
    transform: scaleX(0);
    background: var(--main-color);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
    transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
    background: var(--main-color);
}
.burger-menu {
    --burger-menu-radius: 4em;
    position: fixed;
    top: 30px;
    right: 5vw;
    z-index: 100;
    display: block;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;
}
.burger-menu .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: var(--text-color);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.burger-menu .line:nth-child(1) {
    top: 30%;
}
.burger-menu .line:nth-child(2) {
    top: 50%;
}
.burger-menu .line:nth-child(3) {
    top: 70%;
}
.burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color-darker);
    transform: translateX(-100%);
    transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
}
.burger-menu:hover .line::after {
    transform: translateX(0);
}
.mb .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;
    z-index: 20;
}
.mb .logo{
    max-width: 150px;
    margin: 30px 0 0 30px;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
@media screen and (max-width: 750px) {
    .menu-nav {
        flex-direction: column;
   }
}
.menu-nav-item {
    width: 100%;
    margin-bottom: 25px;
}
.menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 3.2rem;
    color: var(--main-color);
    text-decoration: none;
    font-family: 'brother';
}
.menu-nav-link span {
    overflow: hidden;
}
.menu-nav-link span div {
    transform: translateY(102%);
}
.menu-nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.menu-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.menu .gallery {
    margin-top: 60px;
    text-align: center;
}
.menu .title {
    font-size: 24px;
    color: white;
    overflow: hidden;
}
.menu .title p {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(102%);
}
.menu .images {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 750px) {
    .menu .images {
        justify-content: center;
   }
}
.menu .images .image-link {
    margin: 0 12px;
    overflow: hidden;
    font-size: 20px;
    color: var(--main-color);
}
.menu .images .image-link .fa-facebook-f{
    font-size: 20px;
}
.menu .images .image-link .fa-instagram{
    font-size: 22.5px;
}
.menu .images .image-link:has(.fa-instagram){
    margin-top: 2px;
}

.menu .images .image-link .image {
    position: relative;
    transition: 0.6s;
}
.menu .images .image-link .image::before {
    position: absolute;
    content: attr(data-label);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.4s;
}
.menu .images .image-link:hover .image {
    transform: scale(1.2);
}
.menu .images .image-link:hover .image::before {
    opacity: 1;
}
.menu .images img {
    height: 250px;
    transform: translateY(102%);
}
