#datatable th:first-child{
    width: 30px;
}
#datatable th:last-child{
    width: 100px;
}
.select2-container--default .select2-selection--single{
    height: calc(2.25rem + 2px);
    padding: 0.46875rem 0.75rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 35px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 0px;
}
.dropzone {
    min-height: 230px;
    border: 2px dashed #ced4da;
    background: #fff;
    border-radius: 6px;
}
.blog.modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.box_gallery{
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    padding: 0 10px;
    flex-wrap: wrap;
}
.box_gallery .item{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: relative;
}
.box_gallery .item .icon_del{
    background-color: red;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    z-index: 999999;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.box_gallery .item img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}
@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 990px;
    }
}
/* .dropzone .dz-preview:hover .dz-image img,.dropzone .dz-preview .dz-image,.dropzone .dz-preview .dz-image img{
    width: 300px !important;
    height: 300px !important;
} */
